---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: templateinstances.vink.kubevm.io
spec:
  group: vink.kubevm.io
  names:
    categories:
    - vink
    kind: TemplateInstance
    listKind: TemplateInstanceList
    plural: templateinstances
    shortNames:
    - tpli
    singular: templateinstance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Referenced template name
      jsonPath: .spec.template
      name: Template
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              parameters:
                additionalProperties:
                  type: string
                description: Parameters to override defaults in the template.
                type: object
              template:
                type: string
            required:
            - template
            type: object
          status:
            properties:
              applied:
                description: Applied indicates whether the template has been successfully
                  rendered and the VM created.
                type: boolean
              reason:
                description: Reason provides any error or status message.
                type: string
              virtualMachineName:
                description: VirtualMachineName is the name of the generated VM object.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
