apiVersion: v1
kind: ConfigMap
metadata:
  name: vink-nginx
  namespace: {{ .Values.namespace }}
data:
  default.conf: |
    server {
        listen       80;
        server_name  localhost;

        # 8h keepalive timeout
        keepalive_timeout 28800s;

        #access_log  /var/log/nginx/host.access.log  main;

        # Enable gzip
        gzip on;
        gzip_proxied any;
        gzip_min_length 1k;
        gzip_types text/plain application/javascript application/x-javascript text/css application/xml text/javascript;

        location /vink.kubevm.io.apis {
            proxy_pass http://vink.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.configuration.apiserver.grpcWeb }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_read_timeout 28800s;
            proxy_send_timeout 28800s;
            proxy_connect_timeout 28800s;
        }

        location /apis/vink.io {
            proxy_pass http://vink.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.configuration.apiserver.http }};
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /grafana {
            proxy_pass http://grafana.monitoring.svc.cluster.local:3000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_hide_header X-Frame-Options;
        }

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
            try_files $uri $uri/ /index.html;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        #location ~ \.php$ {
        #    root           html;
        #    fastcgi_pass   127.0.0.1:9000;
        #    fastcgi_index  index.php;
        #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        #    include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }
